name: quality-check

on:
  push:
    branches: [main]
  pull_request:

jobs:
  quality-check:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Setup Bun
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      # 3. Install dependencies
      - name: Install dependencies
        run: bun install --frozen-lockfile

      # 4. Run ESLint
      - name: Run ESLint
        run: bun run lint
